<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-mail">
        <mat-error *ngIf="">Please enter a valid email</mat-error>
        <!-- [(ngModel)]="enteredTitle"> -->
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password">
      <mat-error *ngIf="">Please enter a valid password</mat-error>
    </mat-form-field>
    <div class="login-button">
      <button
      mat-raised-button
      color="primary"
      type="submit">Login
    </button>
    </div>
  </form>
</mat-card>
