<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Title of the form">
        <mat-error *ngIf="form.get('title').invalid">Please enter a valid title</mat-error>
        <!-- [(ngModel)]="enteredTitle"> -->
    </mat-form-field>
    <button
      mat-button
      color="warn"
      type="button"
      (click)="pickAFile.click()">
      Add Image
    </button>
    <input type="file" #pickAFile (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        formControlName="content"
        placeholder="Content of the form"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter a valid content</mat-error>
        <!-- </textarea>[(ngModel)]="enteredContent"></textarea> -->
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
